kaveriprobot/config.py
kaveriprobot/*.session
kaveriprobot/*.session-journal
kaveriprobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
kaveriprobot/modules/helper_funcs/temp.txt
kaveriprobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
kaveriprobot.session-journal
updates.txt
*.exe